h1{
    text-decoration: underline;
    text-align: center;
    color: blue;

}
form{
    color: blue;
    background-color: rgb(240, 233, 233);
}
body{
    color: rgb(197, 24, 24);
    background-color: rgb(180, 179, 187);
    }